h1 { 
    color: rgb(255, 255, 255);
    background-color: rgb(9, 110, 128);
    padding: 10px;
}
body {
    font-family: Arial, sans-serif;
    transition: 0.5s;
}

.dark-mode {
    background-color: #1a1a1a;
    color: white; 
}

.dark-mode h1, .dark-mode h3 {
    color: #e74c3c;
}